/***************************************************
*********************** INPUTS *********************
***************************************************/

//***********************************************
// INPUT TEXT
//***********************************************

.input-text{
	@include input();
	border-color: $primary-color-rgba;
}

.input-text-area{
	@include input();
	height: 10rem;
	text-align: initial;
	align-self: initial;
	border-color: $primary-color-rgba;
}

//***********************************************
// INPUT SELECTOR
//***********************************************
.input-selector{
    @include input();
    display: block;
	width: auto; 
	border-color: $primary-color-rgba;
	outline: none;
}


.input-above-icon{
	width: 3.3em;
    padding: 1em 0em;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform .5s linear;
    background:$six-color-rgba;
	border: $border-1;
	
	&:hover{
		transform: scale(.92);

		i{
			transform: scale(1.24);
		}
	}

	i{
		display: block;
		width: 100%;
		text-align: center;
		transition: all .5s linear;
		cursor: pointer !important;
	}

	input{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		cursor: pointer !important;
	}
}