/***************************************************
 ************************ TEXT *********************
 ***************************************************/

//***********************************************
// HEADERS
//***********************************************
.subtitle {
	@include text($font-color-2);
	font-style: italic;
	font-size: 1.875em;
}

.title {
	@include text($font-color-1);
	font-size: 2.5em;
}

//***********************************************
// TEXT
//***********************************************
.span{
    color: $font-color-2;
    font-weight: bold;
}

//***********************************************
// OTHERS
//***********************************************
.required{
	font-weight: bold;
	color: $font-color-2;
}